// Variablen
$orange: #f8b01e;
$grey: #4d4d4d;

*{
  margin: 0px;
  padding: 0px;
}

html {
  font-size:4vw;
}

body {
  color: $orange;
  background-color: $grey;
}

.Header{
  display: flex;
  width: 100%;
  background-color: $orange;
  color: $grey;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.headerText{
  font-family: sans-serif;
  font-size: 2em;
  width: 70% !important;
  margin: auto;
}
.Header>div{
  justify-content: center;
}

.Logo{
  display: flex;
  width: auto;
  margin: 15% auto;
  align-content: center;
  justify-content: center;
}
.Logo>img{
  width: 263px;
  height: auto;
  margin: auto;
}

.loginForm{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 10%;
  width: auto;
}
.loginField{
  padding: 5px;
  margin-bottom: 2%;
}
.loginLink{
  width: auto;
  margin: 5px auto;
}
.smallHeaderText{
  font-family: sans-serif;
  font-size: 1.3rem;
  margin: 0px auto 15px auto;
}

.ReactModalPortal>div>div>div>div>form>div>div>div{
  color: $orange;
}

.inputField{
  padding: 5px;
  margin: 0 0 10px 0;
}

.playerprofilForm{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 2% 5%;
  width: auto;
}
.borderButton{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  width: auto;
}
.playerprofilButtonBack{
  font-size: 100px;
  width: 50%
}
.playerprofilButtonDel{
  width: 50%;
}
.playerprofilInfo{
  font-family: sans-serif;
  margin: 10px 0 0 10px;
}
.ReactTable{
  font-family: sans-serif;
}
.ReactTable>div>div>div>div>div{
  text-align: center;
}

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.boxed-view--modal {
  background-color: fade-out(#7A7A7A, .1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.boxed-view__box {
  user-select: none;
  background-color: $grey;
  padding: 2.4rem;
  text-align: left;
  width: 24rem;
}

.linkColor {
  font-family: sans-serif;
  color: $orange;
}

.buttonColor, .-btn {
	-moz-box-shadow: 1px 1px 0px 0px #a66c00;
	-webkit-box-shadow: 1px 1px 0px 0px #a66c00;
	box-shadow: 1px 1px 0px 0px #a66c00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8af1e), color-stop(1, #f09c00));
	background:-moz-linear-gradient(top, #f8af1e 5%, #f09c00 100%);
	background:-webkit-linear-gradient(top, #f8af1e 5%, #f09c00 100%);
	background:-o-linear-gradient(top, #f8af1e 5%, #f09c00 100%);
	background:-ms-linear-gradient(top, #f8af1e 5%, #f09c00 100%);
	background:linear-gradient(to bottom, #f8af1e 5%, #f09c00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8af1e', endColorstr='#f09c00',GradientType=0);
	background-color:#f8af1e !important;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #8c5d00;
	display:inline-block;
	cursor:pointer;
	color:#474747;
	font-family:Arial;
	font-size:4vw;
	padding:3px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f8af1e;
}

.buttonColor:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f09c00), color-stop(1, #f8af1e));
	background:-moz-linear-gradient(top, #f09c00 5%, #f8af1e 100%);
	background:-webkit-linear-gradient(top, #f09c00 5%, #f8af1e 100%);
	background:-o-linear-gradient(top, #f09c00 5%, #f8af1e 100%);
	background:-ms-linear-gradient(top, #f09c00 5%, #f8af1e 100%);
	background:linear-gradient(to bottom, #f09c00 5%, #f8af1e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09c00', endColorstr='#f8af1e',GradientType=0);
	background-color:#f09c00;
}
.buttonColor:active {
	position:relative;
	top:0.5px;
}
.buttonTeamDel {
  margin: 5%;
  height: 20%;
  width: 15%;
}
.buttonLogout{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 99% auto 0 auto;
    width: 30%;
}
.buttonTeamName {
  width: 50%;
  height: 20%;
  margin: 5%;
}


.teamListCenteredForm {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  width: auto;
}
.teamListCentered {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 5%;
  width: auto;
}
.teamListCenteredFunc {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  width: auto;
}


.ReactTable .rt-noData{
  visibility: hidden;

}
